body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: #fff;
    color: #000;
    transition: all 4s;
    word-wrap: break-word;
  }
  /* global */
 a{
  color: #fff;
  text-decoration: none;
 }
 img{
  width: 100%;
}
  /* nav bar */
  nav{
    width: 200px;
    padding: 0px;
    border-radius: 10px;
    background: #000000ef;
    position: fixed;
    bottom: 10px;
    left: 40%;
    display: flex;
  }
  nav .menu-btn{
    outline: none;
    background: none;
    border: none;
    color: #fff;
    flex: 1;
    font-weight: 500;
    padding: 10px;
  } 
  nav .menu-btn:focus{
    background: #000000; 
  }
  nav .menu-btn:hover svg, nav .menu-btn:focus svg{
    fill: #e95528;
    transition: 1s;
  } 
  nav .menu-btn svg{
    width: 30px;
    fill: #fff;
  }
  nav .menu-btn::after{
    content: "";
    width: 10px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    bottom: 0px;
    left: 5px;
    z-index: 5;
  }

  /* search */
  .search{
    width: 100%;
    display: flex;
    gap: 10px;
  }
  .search input{
    width: 80%;
    margin: 3px;
    border: 1px solid #0490a8;
    border-radius: 6px;
    outline: none;
    background: none;
    padding: 10px;
    color: #fff;
  }
  .search .logo{
    width: 30px;
    height: 30px;
    background-color: #0490a8;
    margin: auto;
    background: url("../public/img/valid.png");
    background-size: cover;

  }
  .search .logo img{
    width: 100%;
  }
  .artist .artist-case{
    display: flex;

  }
  
  .artist .artist-case:hover{
    background-color: #d3d1d160;
  }
  .artist .artist-case .img,.artist .artist-case .descript{
    flex: 1;
    margin-left: 10px;
    overflow: hidden;
    max-height: 300px;
  }
  .artist .artist-case .img{
    background: url("../public/img/valid.png");
    background-size: cover ;
  }
 
  @media (max-width : 500px){
    body{
      font:60%;
    }
    nav{
      width: 100%;
      bottom: 0px;
    left: 0%;
    border-radius: 0px;
    }
  }